nav {
    background-color: rgba(0,0,0,0.3);
    display: block;
    width: max-content;
    padding:0.7rem 1.7rem;
    border-radius: 3rem;
    position: fixed;
    left: 50%;
    display: flex;
    gap: 1rem;
    backdrop-filter: blur(15px);
    transform: translateX(-50%);
    z-index: 2;
    bottom: 2rem;
}

nav a {
    background-color: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: --var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav a.active {
    color: var(--color-white);
    background-color: var(--color-bg);

}

.about__card p {

}
